<div class="text-center">
    <p>Bonjour C&eacute;dric!</p>
        <p>
            Ce petit outil a &eacute;t&eacute; d&eacute;velopp&eacute; pour t'aider dans la pr&eacute;paration/r&eacute;vision des morceaux.<br />
            En effet, les diff&eacute;rents titres sont class&eacute;s pour toi (gros veinard!! :-))
        </p>
        <p>
            Les morceaux sont tri&eacute;s selon la r&egrave;gle ci-apr&egrave;s.<br /><br />
            Par ordre de priorit&eacute;:<br />
            1/Nombres de s&eacute;ances<br />
            2/Niveau de difficult&eacute; du morceau (on va &ecirc;tre gentil...les plus faciles d'abords! ;-))<br />
            3/Niveau acquis sur le morceau (on commence par ceux sur lesquels tu es le moins à l'aise &eacute;videmment!)<br />
        </p>
        <p>Tu peux trouver de l'aide <a href="#/help"></a>ici si besoin.</p>
        <p>Bon courage!</p>
</div>